@model SignetSSRProject.Models.ReportViewModel

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div style="height:45px"></div>
<h1 style="padding-bottom:10px">
    
    Reports

</h1>
<link rel="stylesheet" type="text/css" href="/Content/themes/base/datepicker.css">
<link rel="stylesheet" type="text/css" href="/Content/semantic.css">
<script src="/Scripts/jquery-ui-1.11.4.js"></script>
<script src="/Scripts/semantic.js"></script>
<script src="/Scripts/Reports/reports.js"></script>
<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>


<div class="ui grid">


    <div class="container">
        <div class="panel panel-default">
            <!--<div class="panel-heading">
                <h3 class="panel-title">Signet SSR Reports Panel</h3>
            </div>-->
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                        <div class="col-xs-10">
                            Total Project Hours by Job Classification
                        </div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-1">
                        <hr></hr>

                        <div class="well">
                            <div class="container">
                                @using (Html.BeginForm("Rpt1ProjectHoursByJobClass", "Reports", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label> Job Type </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            @Html.DropDownList("RateID", new MultiSelectList(ViewBag.RatesSet, "RateID", "JobType"), new { @class = "ui fluid search selection dropdown", @multiple = ""})
                                            
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="col-md-2">
                                            <label> Begin Date </label>
                                            @Html.TextBox("rpt1BeginDate", "", new { @class = "date-picker" })
                                        </div>
                                        <div class="col-md-2">
                                            <label> End Date </label>
                                            @Html.TextBox("rpt1EndDate", "", new { @class = "date-picker" })
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <input type="submit" value="Run Report" class="btn btn-default" />

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label"> Render Report </label>
                                            @Html.RadioButton("VieworDownload", "view", new { @checked = "checked" }) View
                                            @Html.RadioButton("VieworDownload", "download") Download &nbsp;
                                        </div>

                                    </div>
                                }

                            </div>
                        </div>
                </li>
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-2" data-toggle="detail-2">
                        <div class="col-xs-10">
                            Project Hours Worked Weekly
                        </div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-2">
                        <hr></hr>
                        <div class="well">
                            <div class="container">
                                @using (Html.BeginForm("Rpt2ProjectHoursWeekly", "Reports", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row" style="padding-top: 10px">
                                        <div class="col-md-2">
                                            <label> Date of Week </label>
                                            @Html.TextBox("rpt2Date", "", new { @class = "date-picker" })
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <input type="submit" value="Run Report" class="btn btn-default" />

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label"> Render Report </label>
                                            @Html.RadioButton("VieworDownload", "view", new { @checked = "checked" }) View
                                            @Html.RadioButton("VieworDownload", "download") Download &nbsp;
                                        </div>
                                    </div>
                                    
                                    
                                }

                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-3" data-toggle="detail-3">
                        <div class="col-xs-10">
                            Total Project Hours Worked by Month
                        </div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-3">
                        <hr></hr>
                        <div class="well">
                            <div class="container">
                                @using (Html.BeginForm("Rpt3ProjectHoursMonth", "Reports", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row" style="padding-top: 10px">
                                        <div class="col-md-2">
                                            <label> Month </label>
                                            @Html.DropDownList("Month", String.Empty)
                                        </div>
                                        <div class="col-md-2">
                                            <label> Year </label>
                                            @Html.DropDownList("Year", String.Empty)
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <input type="submit" value="Run Report" class="btn btn-default" />

                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-4" data-toggle="detail-4">
                        <div class="col-xs-10">
                            Hours Worked By Employee
                        </div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-4">
                        <hr></hr>
                        <div class="well">
                            <div class="container">
                                @using (Html.BeginForm("Rpt4HoursWorkedByEmployee", "Reports", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label> Employee Name </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            @Html.DropDownList("EmployeeID", new MultiSelectList(ViewBag.EmployeesSet, "EmployeeID", "FirstName"), new { @class = "ui fluid search selection dropdown", @multiple = ""})
                                            
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="col-md-2">
                                            <label> Begin Date </label>
                                            @Html.TextBox("rpt4BeginDate", "", new { @class = "date-picker" })
                                        </div>
                                        <div class="col-md-2">
                                            <label> End Date </label>
                                            @Html.TextBox("rpt4EndDate", "", new { @class = "date-picker" })
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <input type="submit" value="Run Report" class="btn btn-default" />

                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-5" data-toggle="detail-5">
                        <div class="col-xs-10">
                            Employee Hours Worked Weekly
                        </div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-5">
                        <hr></hr>
                        <div class="well">
                            <div class="container">
                                @using (Html.BeginForm("Rpt5EmployeeHoursWeekly", "Reports", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Contract Laborer </label>
                                            <div class="col-sm-10">


                                                @Html.RadioButton("ContractLaborer", "true") True &nbsp;
                                                @Html.RadioButton("ContractLaborer", "false", new { @checked = "checked" }) False

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="col-md-3">
                                            <label> Date of Week </label>
                                            @Html.TextBox("rpt5Date", "", new { @class = "date-picker" })
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <input type="submit" value="Run Report" class="btn btn-default" />

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label"> Render Report </label>
                                            @Html.RadioButton("VieworDownload", "view", new { @checked = "checked" }) View
                                            @Html.RadioButton("VieworDownload", "download") Download &nbsp;
                                        </div>
                                    </div>
                                    
                                    
                                }

                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-6" data-toggle="detail-6">
                        <div class="col-xs-10">
                            Profit Summary
                        </div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-6">
                        <hr></hr>
                        <div class="well">
                            <div class="container">
                                @using (Html.BeginForm("Rpt6ProfitSummary", "Reports", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        @Html.ValidationSummary(true)
                                        <div class="col-md-2">
                                            <label> Job Name </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            @Html.DropDownList("JobID", new MultiSelectList(ViewBag.JobsSet, "JobID", "VesselName"), new { @class = "ui fluid search selection dropdown", @multiple = ""})
                                            
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        @Html.ValidationSummary(true)
                                        <div class="col-md-2">
                                            <label> Job Status </label>
                                            @Html.DropDownList("Status", String.Empty)
                                            @Html.ValidationMessageFor(model => model.jobModel.Status)
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="col-md-3">
                                            <label> Cost Option </label>
                                            @Html.DropDownList("CostOption")
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="col-md-2">
                                            <label> Begin Date </label>
                                            @Html.TextBox("rpt6BeginDate", "", new { @class = "date-picker" })
                                        </div>
                                        <div class="col-md-2">
                                            <label> End Date </label>
                                            @Html.TextBox("rpt6EndDate", "", new { @class = "date-picker" })
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <input type="submit" value="Run Report" class="btn btn-default" />

                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-7" data-toggle="detail-7">
                        <div class="col-xs-10">
                            Materials Expense
                        </div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-7">
                        <hr></hr>
                        <div class="well">
                            <div class="container">
                                @using (Html.BeginForm("Rpt7MaterialsExpense", "Reports", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        @Html.ValidationSummary(true)
                                        <div class="col-md-2">
                                            <label> Job Name </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            @Html.DropDownList("JobID", new MultiSelectList(ViewBag.JobsSet, "JobID", "VesselName"), new { @class = "ui fluid search selection dropdown", @multiple = ""})
                                            
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="col-md-2">
                                            <label> Begin Date </label>
                                            @Html.TextBox("rpt7BeginDate", "", new { @class = "date-picker" })
                                        </div>
                                        <div class="col-md-2">
                                            <label> End Date </label>
                                            @Html.TextBox("rpt7EndDate", "", new { @class = "date-picker" })
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <input type="submit" value="Run Report" class="btn btn-default" />

                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-8" data-toggle="detail-8">
                        <div class="col-xs-10">
                            Absence and Tardiness
                        </div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-8">
                        <hr></hr>
                        <div class="well">
                            <div class="container">
                                @using (Html.BeginForm("Rpt8AbsenceAndTardiness", "Reports", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        @Html.ValidationSummary(true)
                                        <div class="col-md-2">
                                            <label> Employee Name </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            @Html.DropDownList("EmployeeID", new MultiSelectList(ViewBag.EmployeesSet, "EmployeeID", "FirstName"), new { @class = "ui fluid search selection dropdown", @multiple = ""})
                                            
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="col-md-2">
                                            <label> Begin Date </label>
                                            @Html.TextBox("rpt8BeginDate", "", new { @class = "date-picker" })
                                        </div>
                                        <div class="col-md-2">
                                            <label> End Date </label>
                                            @Html.TextBox("rpt8EndDate", "", new { @class = "date-picker" })
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 10px">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <input type="submit" value="Run Report" class="btn btn-default" />

                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>