@model SignetSSRProject.Models.Attendance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendance</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendance1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursMissed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursMissed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Excused)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Excused)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttendanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
