@model IEnumerable<SignetSSRProject.Models.Attendance>

@{
    ViewBag.Title = "Attendance";
}

<h2>Attendance</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attendance1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursMissed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Excused)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attendance1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursMissed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.Excused.Value, new { @disabled = "disabled" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AttendanceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AttendanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AttendanceID })
        </td>
    </tr>
}

</table>
